.mt-small {
  margin-top: 2rem;
}

.mt-medium {
  margin-top: 5rem;
}

.mb-small {
  margin-bottom: 2rem;
}
.mb-medium {
  margin-bottom: 5rem;
}
.mb-large {
  margin-bottom: 10rem;
}

@mixin twoRow {
  display: grid;
  grid-gap: 10rem;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: 1fr;
  }
}
